<ion-header>
  <ion-toolbar>
    <ion-title>segments</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-segment (ionChange)="segmentChanged($event)">
    <ion-segment-button value="p01">
      <ion-label>Ponto Turístico 1 </ion-label>
    </ion-segment-button>
    <ion-segment-button value="p02">
      <ion-label>Ponto Turístico 2</ion-label>
    </ion-segment-button>
  </ion-segment>

{{texto}}
<div *ngIf="habilitaimg">
    <ion-img src="../assets/imagens/{{imagem}}"> </ion-img>
</div>
<ion-button expand="full" href="home"> Voltar</ion-button>
</ion-content>
